/** @format */

@import url(./assets/font.css?family=Nunito:wght@400;700;900&display=swap);
/* For mobile devices */
@media only screen and (max-width: 767px) {
	body {
		background-image: url(./assets/bgCompressed.avif);
	}
	.support {
		width: 100%;
	}
	.commands {
		width: 100%;
	}
	.navbar {
		list-style-type: none;
		padding: px;
	}
	.navbar .nav-item:not(:last-child) {
		float: top;
		float: left;
		padding: 10px;
		width: 100%;
	}
	.navbar .nav-item:last-child {
		float: top;
		float: right;
		padding: 10px;
		width: 100%;
		margin: 10px;
	}
}
::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #000036;
}
::-webkit-scrollbar {
	width: 12px;
	background-color: #000036;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #f47850;
}
* {
	margin: 0;
	padding: 0;
	outline: 0;
}
*,
::after,
::before {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
}
body {
	background: #000036;
	color: #fff;
	font-family: Nunito, sans-serif;
	font-size: larger;
	font-weight: 700;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
button {
	color: #04223e;
	border: 0;
	font-weight: 600;
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 5px;
}
a {
	text-decoration: none;
	color: #fff;
	padding: 5px;
}

.commands {
	color: #03192e;
	text-decoration: none;
	padding: 5px;
	background-color: #f47850;
	padding: 10px 15px;
	border-radius: 10px;
	float: right;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.support {
	color: #03192e;
	text-decoration: none;
	padding: 5px;
	background-color: #f47850;
	padding: 10px 15px;
	border-radius: 10px;
	float: right;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
footer {
	font-size: 20px;
}
a:hover,
button:hover {
	opacity: 0.7;
}
.navbar {
	list-style-type: none;
	padding: px;
}
.navbar .nav-item:not(:last-child) {
	float: top;
	float: left;
	padding: 10px;
}
.navbar .nav-item:last-child {
	float: right;
	padding: 2px 8px;
	margin: 10px;
	background-color: #f47850;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.helper {
	font-size: 37px;
}
.hero-section {
	background-image: url(./assets/bg.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #000036;
	padding: 5.8em 0 0.8em 0;
	border-radius: 0 0 40px 40px;
	-webkit-border-radius: 0 0 40px 40px;
	-moz-border-radius: 0 0 40px 40px;
	-ms-border-radius: 0 0 40px 40px;
	-o-border-radius: 0 0 40px 40px;
	font-size: 1.8rem;
}
.hero-title {
	font-size: calc(70px + 3vw);
	font-weight: 700;
	text-shadow: 0 1px 0 #c9cece, 0 2px 0 #bcc2c1, 0 3px 0 #aeb6b5,
		0 4px 0 #a3acab, 0 5px 0 #9ea7a6, 0 6px 0 #99a2a1, 0 7px 0 #96a09f,
		0 8px 0 #939e9d, 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
		0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
		0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}
.hero-description {
	margin: 20px;
}
.hero-btn {
	background-image: url(./assets/footer.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.s-m-section {
	background-image: url(./assets/footer.svg);
	padding: 50px;
	background-repeat: no-repeat;
	background-size: cover;
}
.s-m-title {
	margin: 20px;
	color: #000036
}
.s-m-descritpion {
	margin: 0 0 40px 0;
	color: #000036
}
.s-m-btn {
	background-color: #f47850;
	color: #000036;
}
.s-m-btn-2 {
	background-color: #000036;
	color: #f47850;
}
.time-load-section {
	background: linear-gradient(0deg, #e6f0fa 40%, #000036 40%);
	padding: 100px 0;
}
.card {
	padding: 60px;
	border-radius: 10px;
	background: #fff;
	color: #414f7b;
	margin: 15px;
	box-shadow: -1px 1px 20px 2px #00000030;
}
.statics-section {
	background-color: #e6f0fa;
	color: #000036;
	padding: 70px;
}
.statics-description {
	margin: 10px 0 50px 0;
}
.statics-rows {
	flex: 33.33%;
}
.commands-section {
	padding: 85px 60px;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
}
.commands-card {
	padding: 15px;
}
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.container {
	padding: 0 15px;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
@media (min-width: 576px) {
	.card {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.statics-rows {
		flex: 100%;
		-ms-flex: 0 0 100%;
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.card {
		-ms-flex: 0 0 45%;
		flex: 0 0 45%;
		max-width: 45%;
	}
	.statics-rows {
		flex: 33.33%;
		max-width: 33.33%;
		flex: 0 0 33.33%;
	}
}
@media (min-width: 992px) {
	.card {
		-ms-flex: 0 0 45%;
		flex: 0 0 45%;
		max-width: 45%;
	}
	.statics-rows {
		flex: 33.33%;
		max-width: 33.33%;
		flex: 0 0 33.33%;
	}
}
.ag-speedometer {
	display: table;
	margin: 0 auto;
}
.ag-speedometer_needle {
	-webkit-animation: 0.5s infinite alternate an-speedometer;
	-moz-animation: 0.5s infinite alternate an-speedometer;
	-o-animation: 0.5s infinite alternate an-speedometer;
	animation: 0.5s infinite alternate an-speedometer;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	-webkit-transform-origin: 45px 45px;
	-moz-transform-origin: 45px 45px;
	-ms-transform-origin: 45px 45px;
	-o-transform-origin: 45px 45px;
	transform-origin: 45px 45px;
}
@-webkit-keyframes an-speedometer {
	0%,
	100%,
	80% {
		-webkit-transform: rotate(-1deg);
		transform: rotate(-1deg);
	}
	10%,
	40%,
	70% {
		-webkit-transform: rotate(1deg);
		transform: rotate(1deg);
	}
	20%,
	90% {
		-webkit-transform: rotate(-2deg);
		transform: rotate(-2deg);
	}
	30% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	50% {
		-webkit-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}
	60% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}
}
@-moz-keyframes an-speedometer {
	0%,
	100%,
	80% {
		-moz-transform: rotate(-1deg);
		transform: rotate(-1deg);
	}
	10%,
	40%,
	70% {
		-moz-transform: rotate(1deg);
		transform: rotate(1deg);
	}
	20%,
	90% {
		-moz-transform: rotate(-2deg);
		transform: rotate(-2deg);
	}
	30% {
		-moz-transform: rotate(0);
		transform: rotate(0);
	}
	50% {
		-moz-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}
	60% {
		-moz-transform: rotate(2deg);
		transform: rotate(2deg);
	}
}
@-o-keyframes an-speedometer {
	0%,
	100%,
	80% {
		-o-transform: rotate(-1deg);
		transform: rotate(-1deg);
	}
	10%,
	40%,
	70% {
		-o-transform: rotate(1deg);
		transform: rotate(1deg);
	}
	20%,
	90% {
		-o-transform: rotate(-2deg);
		transform: rotate(-2deg);
	}
	30% {
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	50% {
		-o-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}
	60% {
		-o-transform: rotate(2deg);
		transform: rotate(2deg);
	}
}
@keyframes an-speedometer {
	0%,
	100%,
	80% {
		-webkit-transform: rotate(-1deg);
		-moz-transform: rotate(-1deg);
		-o-transform: rotate(-1deg);
		transform: rotate(-1deg);
	}
	10%,
	40%,
	70% {
		-webkit-transform: rotate(1deg);
		-moz-transform: rotate(1deg);
		-o-transform: rotate(1deg);
		transform: rotate(1deg);
	}
	20%,
	90% {
		-webkit-transform: rotate(-2deg);
		-moz-transform: rotate(-2deg);
		-o-transform: rotate(-2deg);
		transform: rotate(-2deg);
	}
	30% {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	50% {
		-webkit-transform: rotate(-3deg);
		-moz-transform: rotate(-3deg);
		-o-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}
	60% {
		-webkit-transform: rotate(2deg);
		-moz-transform: rotate(2deg);
		-o-transform: rotate(2deg);
		transform: rotate(2deg);
	}
}
*,
:after,
:before {
	box-sizing: border-box;
}
#button {
	position: absolute;
	height: 20px;
	width: 20px;
	background: #e6d5c4;
	border: 3px solid #312f2d;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
}
.player {
	height: 195px;
	width: 220px;
	position: relative;
	margin: auto;
	background: #d75f4e;
	border: 3px solid #e6d5c4;
	border-radius: 8px;
}
.disc {
	position: absolute;
	top: 20px;
	left: 20px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background: #312f2d;
	border: 5px solid #d75f4e;
	box-shadow: 0 0 0 3px #e6d5c4;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}
.eye {
	content: '';
	position: absolute;
	height: 15px;
	width: 15px;
	background: #d75f4e;
	border-radius: 50%;
	border: 3px solid #312f2d;
	box-shadow: 0 0 0 15px #e6d5c4;
	top: 88px;
	left: 88px;
	z-index: 5;
}
.stylus-base {
	height: 20px;
	width: 20px;
	background: #312f2d;
	position: absolute;
	right: 20px;
	top: 20px;
	border-radius: 50%;
	border: 3px solid #d75f4e;
	box-shadow: 0 0 0 3px #312f2d;
	transform: rotate(14deg);
	-webkit-animation: big-wiggle 0.5s infinite linear;
	animation: big-wiggle 0.5s infinite linear;
}
.stylus-base:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 50%;
	border-radius: 3px;
	margin-left: -3px;
	width: 6px;
	height: 80px;
	background: #e6d5c4;
	box-shadow: 2px 2px 10px -1px #333;
}
.stylus {
	background: #e6d5c4;
	height: 12px;
	width: 18px;
	position: absolute;
	right: 55px;
	top: 102px;
	border-radius: 2px;
	transform: rotate(-15deg);
	box-shadow: 2px 2px 10px 0 #333;
	-webkit-animation: little-wiggle 0.5s infinite linear;
	animation: little-wiggle 0.5s infinite linear;
}
.stylus:after {
	content: '';
	position: absolute;
	left: 18px;
	height: 6px;
	width: 8px;
	top: 3px;
	background: #e6d5c4;
	border-radius: 0 6px 6px 0;
}
@-webkit-keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes big-wiggle {
	0% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(13deg);
	}
	100% {
		transform: rotate(15deg);
	}
}
@keyframes big-wiggle {
	0% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(13deg);
	}
	100% {
		transform: rotate(15deg);
	}
}
@-webkit-keyframes little-wiggle {
	0% {
		transform: translateX(0) translateY(-1px) rotate(-18deg);
	}
	50% {
		transform: translateX(2px) translateY(0) rotate(-16deg);
	}
	100% {
		transform: translateX(0) translateY(-1px) rotate(-18deg);
	}
}
@keyframes little-wiggle {
	0% {
		transform: translateX(0) translateY(-1px) rotate(-18deg);
	}
	50% {
		transform: translateX(2px) translateY(0) rotate(-16deg);
	}
	100% {
		transform: translateX(0) translateY(-1px) rotate(-18deg);
	}
}
